:global{
    div#root{
        z-index: 0;
    }
    table{
        border-collapse: collapse;
        table-layout: fixed;

        // width: 100%;

        th{
            text-align: center;
            padding: 7px 0;
            border: solid 1px;
            &:first-child{
                padding: 7px 2px;
                // width: min-content;
            }
        }

        td{
            text-align: center;
            border: solid 1px;
            min-width: 4rem;
            min-height: 2em;
        }
    }

    ul{
        margin-right: 0;
        padding-left: 0;
        list-style: none;

        li{
            align-items: center;
            margin: 5px 0;
        }
    }

    .content{
        background-color: white;
    }
    
    .phalf{
        padding: .5rem;
    }

    .pt{
        padding-top: 1rem;
    }

    .pb{
        padding-bottom: 1rem;
    }

    .pl{
        padding-left: 1rem;
    }

    .pr{
        padding-right: 1rem;
    }

    .mhalf{
        margin: .5rem;
    }


    .mt{
        margin-top: 1rem;
    }
    .mb{
        margin-bottom: 1rem;
    }
    .ml{
        margin-left: 1rem;
    }
    .mr{
        margin-right: 1rem;
    }
    .posright{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .slave{
        min-height: 5rem;
        min-width: 7rem;
        overflow-y: scroll;
        border: solid 1px #666;
        position: relative;
    }

    .slave-inner{
        position: absolute;
        height: 100%;
    }

    .cross {
        background: black;
        height: 1rem;
        margin: .5rem 1rem;;
        position: relative;
        width: 0.2rem;
        &:after {
            background: black;
            content: "";
            height: .2rem;
            left: -.4rem;
            position: absolute;
            top: .4rem;
            width: 1rem;
        }
    }
    

    .card{
        &:first-child{
            padding-top: 1rem;
        }
        padding-left: .5rem;
        padding-right:.5rem;
        padding-bottom: 1rem;
    }
    .card-body{
        display: block;
        padding: 1rem;
        border: 1px solid rgba(0,0,0,.125);
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .row-nowrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .row-center{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    

    .content-heading{
        margin: 0;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2;
        color: inherit;
    }

    .text-heading{
        font-size: 150%;
    }

    .modal-body{
        position: fixed;
        z-index: 1040;
        min-width: 600px; 
        min-height: 400px;
        top: 20%;
        left: calc( max(50% - 300pt, 1rem));
        background: white;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 3px;
        visibility: hidden;
        opacity: 0;
        transition: 200ms ease;
        &.show{
            opacity: 1;
            visibility: visible;
        }
    }
}

