:global{

    body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1rem;
    }

    .fixed{
        position: fixed;
        z-index: 1000;
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .row-nowrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .list-group {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;

        .list-group-item {
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            line-height: 1.5;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
        }
    }

    .hover-button{
        transition-property: background-color;
        transition-duration: 200ms;
        cursor: pointer;
        &:hover {
            background-color: #f8f9fa;
        }
    }

    .font-weight-bold {
        font-weight: 700!important;
    }

    .img-button-wrapper{
        display: flex;
        align-items: center;
        border: 0;
        border-radius: 5px;
        margin: .5rm .5rm;
        .svg-img{
            fill-opacity: 1;
        }
    }

    .button-item{
        font-size: 1rem;
        padding: 0;
        margin-left: .25rem;
        display: flex;
        align-items: center;
        .icon {
            width: 16px;
            height: 16px;
            margin-right: .25rem;
        }
    }

    #header{
        display: flex;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;

        &.header-bar{
            display: flex;
            align-items: center;
            width: 100%;
            padding: .5rem 1rem;
            z-index: 1030;
            background-color: #ffe67a;
            box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
            max-height: 50px;
            
            .header-bar-items {
                margin: 0 4px;
                background-color: #ffe67a;
            }

            #hamburger-menu {
                background-color: #ffe67a;
                img {
                    fill-opacity: 1;
                }
            }

        }

        .title{
            font-family: inherit;
            font-size: 20px;
            margin-left: 15px;
        }
    }

    .page-wrapper {
        position: fixed;
        display: flex;
        
        
        background: rgba(0,0,0,.4);
        top: -200pt;
        bottom: -200pt;
        left: -200pt;
        right: -200pt;
        opacity: 0;
        z-index: 1010;

        visibility: hidden;
        transition-property: opacity visibility;
        transition: 200ms ease;

        &.show{
            opacity: 1;
            visibility: visible;
        }
    }

    .site-nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 20px 20px;
        z-index: 1020;
        
        background-color: #f2f2f2;
        height: 100vh;
        max-height: 100vh!important;
        width: 264px;
        top: 48px;
        left: -264px;
        visibility: hidden;
        transition-property: left visibility;
        transition: 300ms ease-in;

        &.show{
            left: 0;
            visibility: visible;
        }
    }

    .dummy-header{
        padding: 22pt 0;
    }
}