:global{
    .phalf{
        padding: .5rem;
    }

    .pt{
        padding-top: 1rem;
    }

    .pb{
        padding-bottom: 1rem;
    }

    .pl{
        padding-left: 1rem;
    }

    .pr{
        padding-right: 1rem;
    }

    .mt{
        margin-top: 1rem;
    }
    .mb{
        margin-bottom: 1rem;
    }
    .ml{
        margin-left: 1rem;
    }
    .mr{
        margin-right: 1rem;
    }
    .posright{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .border{
        border: solid 1px #666;
        border-radius: 5px;
    }

    .card{
        &:first-child{
            padding-top: 1rem;
        }
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 1rem;
    }

    .card-body{
        display: block;
        padding: 1rem;
        border: 1px solid rgba(0,0,0,.125);
    }

    .course-list{
        display: inline-block;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    

    .course-element{
        display: flexbox;
        border: solid 1px #666;
        border-radius: 3px;
        height: fit-content;
        margin: .2rem;
        padding: 1rem;
    }

    .tab{
        display: inline-block;
        border: 1px solid transparent;
        border-bottom: none;
        bottom: -1px;
        position: relative;
        list-style: none;
        padding: 6px 12px;
        cursor: pointer;
        &.selected{
            background: #fff;
            border-color: rgba(0,0,0,.125);
            color: black;
            border-radius: 5px 5px 0 0;
        }
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .row-nowrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .row-center{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

:local{
    .root{
        font-size: medium;
        min-width:20rem;
    }

    .header{
        position: fixed;
        padding: .5rem;
        background: #ffe67a;
        width: 100%;
        height: 21.6px;
        top: 0%;
        left: 0%;
    }
    .header-dummy{
        height: 40px;
    }

    .gg-external {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 12px;
        height: 12px;
        box-shadow:
        -2px 2px 0 0,
        -4px -4px 0 -2px,
        4px 4px 0 -2px;
        margin: 0.5em;
        &::after,&::before{
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            right: -4px
        }
        &::before {
            background: -webkit-link;
            transform: rotate(-45deg);
            width: 12px;
            height: 2px;
            top: 1px
        }
        &::after {
            width: 8px;
            height: 8px;
            border-right: 2px solid;
            border-top: 2px solid;
            top: -4px
        } 
    }


}